@mixin rotateY($deg) {
    -webkit-transform: rotateY(#{$deg});
    -moz-transform: rotateY(#{$deg});
    -ms-transform: rotateY(#{$deg});
    -o-transform: rotateY(#{$deg});
    transform: rotateY(#{$deg});
}

@mixin skewX($deg) {
    -webkit-transform: skewX(#{$deg});
    -moz-transform: skewX(#{$deg});
    -ms-transform: skewX(#{$deg});
    -o-transform: skewX(#{$deg});
    transform: skewX(#{$deg});
}

@mixin transition($prop) {
    -webkit-transition: $prop;
    -moz-transition: $prop;
    -ms-transition: $prop;
    -o-transition: $prop;
    transition: $prop;
}
